<%= button_to "Return Home", "/", method: :get %>
<div class= "center">
  <h1><%= @movie.original_title %></h1>
    <% if @movie.poster_path %>
    <div class="poster">
      <img src='http://image.tmdb.org/t/p/w500/<%= "#{@movie.poster_path}" %> ' alt="Girl in a jacket" width="300" height="400">
    <% end %>
  </div>
  <% if @crew.find {|member| member.job == "Director"} %>
    <p>Directed by: <%= @crew.find {|member| member.job == "Director"}.name %></p>
  <% else %>
    <p>Directed by: Unknown</p>
  <% end %>
  <p>Released: <%= @movie.release_date %> | Average MovieDB Rating: <%= @movie.vote_average %> | Runtime: <%= @movie.runtime %> mins | Genre(s): <%= @movie.genre_names %> </p>
</div>
<hr>
<% if @votes.nil? %>
  <h3>Have you seen this movie? If so click the emoji to vote!</h3>
  <%= button_to "ðŸ‘", "/movies/#{@movie.id}/increase", params: {movie_title: @movie.original_title}, :title => "thumbs up", method: :put %> OR <%= button_to "ðŸ‘Ž", "/movies/#{@movie.id}/decrease", params: {movie_title: @movie.original_title}, :title => "thumbs down", method: :put %>
<% else %>
  <h3>Have you seen this movie? If so click the emoji to vote!</h3>
  <p>Our users have given this movie:</p>
  <%= button_to "ðŸ‘", "/movies/#{@movie.id}/increase", params: {movie_title: @movie.original_title}, :title => "thumbs up", method: :put %>
  <%= @votes.thumbs_up %> thumbs up.
  <%= button_to "ðŸ‘Ž", "/movies/#{@movie.id}/decrease", params: {movie_title: @movie.original_title}, :title => "thumbs down", method: :put %>
  <%= @votes.thumbs_down %> thumbs down.
<% end %>
<hr>
<h5>Summary</h5>
<p> <%= @movie.summary %> </p>
<h5>Cast</h5>
<% @cast.each do |cast_member| %>
<p><%= cast_member.name %> as <%= cast_member.character %></p>
<% end %>
<hr>
<% if @trailer %>
<h3>Official Trailer: </h3>
  <iframe width="420" height="315"
  src="https://www.youtube.com/embed/<%= @trailer %> ">
  </iframe>
  <hr>
<% end %>
<% if @reviews.any? %>
  <h5><%= @reviews.count %> Reviews</h5>
  <% @reviews.each do |review| %>
    <p>Author: <%= review.author %></p>
    <p>"<%= review.content %>"</p>
  <% end %>
  <hr>
<% end %>
<h3>Recommended Similar Movies:</h3>
<% @recommended.each do |recommendation| %>
  <%= link_to recommendation.original_title, "/movies/#{recommendation.id}" %><br>
<% end %>
